.main_img {
    border: 2px solid #000066;
}

.container {
    max-width: 700px !important;
}

pre {
    white-space: pre-wrap;
    font-family: Roboto, sans-serif;
}

img {
    width: 100%;
}

.v-expansion-panel-header {
    line-height: 21px !important;
}
.v-list-item{
    &:active{
        background-color: #0000663d ;
    }
    &--active{
        .v-list-item__icon{
            color: #000066 !important;
        }
        .v-list-item__content{
            color: #000066 !important;
        }
    }
}